bin/
.vs/
.vscode/
GeneratedFiles/
Release/
Debug/
data*/
build*/

*.aps
source/QuickCutInstaller/Windows/x*/config/theme_ubuntu.qss
source/QuickCutInstaller/Windows/x*/resources/Manifest.txt
source/QuickCutInstaller/Windows/x*/resources/QuickCut.ico
source/QuickCutInstaller/Windows/x*/*.exe
source/QuickCutInstaller/Windows/x*/packages/com.greich.quickcut.msvc.x*/meta/LICENSE
