<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>QuickCut</Name>
    <Version>1.0.0</Version>
    <Title>QuickCut</Title>
    <Publisher>Gilad Reich</Publisher>
    <ProductUrl>www.greich.com</ProductUrl>
    <InstallerWindowIcon>InstallerWindowIcon.png</InstallerWindowIcon>
    <InstallerApplicationIcon>InstallerApplicationIcon.ico</InstallerApplicationIcon>
    <Logo>Logo.png</Logo>
    <Watermark>Watermark.png</Watermark>
    <!-- <RunProgram>@TargetDir@/QuickCut.exe</RunProgram> Buggy... -->
    <!-- <RunProgramDescription>Do you want to run QuickCut after finish?</RunProgramDescription> -->
    <StartMenuDir>QuickCut</StartMenuDir>
    <MaintenanceToolName>Uninstaller</MaintenanceToolName>
    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
    <Background>Background.png</Background>
    <!-- <StyleSheet>theme_ubuntu.qss</StyleSheet> -->

    <TargetDir>@HomeDir@/QuickCut</TargetDir>
    <AllowSpaceInPath>true</AllowSpaceInPath>
</Installer>
